*{
  
    background-color:rgb(239, 154, 235);

}
h3{
    background-color:rgb(117, 214, 117);
    text-align: center;
    font-weight:bolder;
    margin-top:30px;

}
.att{
    background-color:rgb(199, 111, 124);
    color:white;
    text-align:center;
  }
.img{
    width:100px;
    height:100px;
}
.text-attr{
    font-size:small;
    font-weight: 300;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div{
    color:white;
    border:3px solid blueviolet;
    background-color:rgb(238, 97, 15);
    width:200px;
    height:200px;
    
}

li{
    background-color:black;
    color:white;
}
/*
selectors{
property:value;
*/